/* Your CSS Code here. */

div{
    display:inline block !important;
    width: 300px;
	padding: 50px;
	margin :20px;
	border: 1px solid black;
  }

  p{
	  background-color:lightblue;
	  border: 15px solid blue;
	  padding:15px;
  }